body {
  background-color: rgb(56, 56, 56);
  height: 100%;
}

.App {
  text-align: center;
}

.title {
  font-size: 4rem;
  font-weight: 400;
  height: 15vh;
  margin-bottom: 25vh;
  color: rgb(162, 165, 168);
}

.quote {
  color: rgb(162, 165, 168);
  font-style: italic;
  margin: 0 10vh;
  margin-bottom: 2vh;
}

.footer {
  margin-top: 35vh;
  font-size: 100%;
  font-weight: 500;
}